name: Dependency Submission

on:
    push:
        branches:
            - 'main'

permissions:
    contents: write

jobs:
    dependency-submission:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout sources
                uses: actions/checkout@v6

            -   name: Setup JDK 17
                uses: actions/setup-java@v5
                with:
                    java-version: '17'
                    distribution: 'temurin'

            -   name: Add empty keystore.properties
                run: echo "storeFile=dummy.jks" > keystore.properties

            -   name: Generate and submit dependency graph
                uses: gradle/actions/dependency-submission@v5
                with:
                    # Exclude dependencies that are only resolved in test classpaths
                    dependency-graph-exclude-configurations: '.*(([Tt]est(Compile|Runtime)Classpath)|(android-test-plugin)).*'
