name: Update Data

on:
  schedule:
    - cron: "42 1 * * 0"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          pip install -r scripts/requirements.txt

      - name: Run update script
        run: python scripts/update_tags.py

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          commit-message: Update tags.json
          branch: ci/update-tags
          title: 'Update tags'
          body: 'Changed files in data directory'
          reviewers: maxwai
